apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: ajwelch-x-app
spec:
  selector:
    app: grafana
  ports:
    - name: http
      port: 3000
      targetPort: 3000
    - name: delve
      port: 2345
      targetPort: 2345
