apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: gateway-crds-helm
    repo: oci://docker.io/envoyproxy
    version: v1.6.0
    namespace: envoy-gateway-system
    valuesInline:
      crds:
        gatewayAPI:
          enabled: true
          channel: standard
        envoyGateway:
          enabled: true
